* {
    margin: 0%;
    
    }
    h1 {
        font-family: 'Merienda', cursive;
        font-size: 3.5rem;
        line-height: 2em;
    }
        
        h2 {
            font-family: 'Merienda', cursive;
            font-size: 2.5rem;
            line-height: 1.5em;
        }

        hgroup {
            text-align: right;
            font-family: 'Merienda', cursive;
            padding-right: 16x;
            border-right: 10px solid #00c8d7;
        }

        h3 {
            font-size: 1.93rem;
            margin-bottom: 0;
        }
        
        h4 {
            font-size: 1.16rem;
            margin-top: 0;
        }

        P {
            text-align: justify;
            font-family: 'Merienda', cursive;
            font-size: .95rem;
        }

        p::first-letter {
            font-size: 3.2rem;
            line-height: .7;
            float: left;
            padding-right: 8px;
            padding-top: 4px;
        }

        

    
        p {
            font-family: 'Merienda', cursive;
        font-size: 1.5em;
        padding-top: 2em;
        margin: 40px;
        line-height: 1.6em;
    
    }
    .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: #333;*/
    /*background: rgba(0,0,0,0.25);*/
    background-image: linear-gradient(
        90deg,
        rgb(0, 255, 42),
        rgba(255, 102, 0, 0.342)
        );
    color: white;
    margin-bottom: 100px;
    position:relative;
    overflow: hidden;
    min-height: 100vh;
    }
    
    .video-bg {
    position: absolute;
    z-index: -1;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    }
    
    .intro {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    max-width: 960px;
    }
    
    .row {
    display: flex;  
    }
    
    .col {
        padding: 0 15px;
        flex: content;
    }
        
    © 2019 GitHub, Inc.

